body {
    position: relative ;
    background-image: url("cyan002.gif");
    border-radius: 50%;
    font-family: "Rubik Bubbles", cursive;
    font-feature-settings: "vrt2";
    
    
}

#container-fluid {
    padding: 3% 15%;
}

#navbar {
    padding: 0 0 1.5rem;

}

#navbar-item {
    padding: 0 18px;

}

#nav-link {
    font-size: 1.5rem;
    font-weight: bold;
}

#navbar-brand {
    font-family: "Rubik Bubbles" cursive;
    font-size: 1.5rem;
    font-weight: bold;

}

#welc-mess {
    font-family: "Rubik Bubbles", cursive;
    color: white;
    line-height: 1.5;
    font-size: 3rem;

}

#user-mess {
    font-family: "Ubuntu Condensed", sans-serif;
    color: white;
    line-height: 1.5;
    font-size: 3rem;

}

.download-button {
    margin: 5% 3% 5% 0%;
    

}

